/**--------------------------------------------------------
 * ?                                ABOUT
 * @author         :  Felicia Haggard
 * @email          :  haggardwebdev@gmail.com
 * @repo           :  HaggardFelicia
 * @createdOn      :  06/26/2024
 * @description    :  Tailwind CSS global styles
 *--------------------------------------------------------**/

 /**---------------------
  * *       IMPORTS
  *----------------------**/
@tailwind base;
@tailwind components;
@tailwind utilities;

/**---------------------
 * *       Layout Page
 *-----------------------**/
 /* setting bg color and margin for pages */
.body{
  @apply bg-neutral-400 m-6 h-[100vh];
  font-family: playfair;
}
/* setting header color, font, font size, font color, and layout */
.header{
  @apply bg-neutral-700 text-neutral-300 flex items-center justify-between px-4 py-5 text-lg;
}
/* header logo */
.headerlogo{
  @apply  bg-gradient-to-b from-emerald-800 to-emerald-100 bg-clip-text text-transparent text-3xl font-bold hover:cursor-pointer;
}
/* footer */
.footer{
  @apply bg-neutral-700 text-neutral-300 text-center py-5;
}

/**----------------------
 * *       font Styles
 *-----------------------**/
 @font-face {
  font-family: playfair;
  src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
 }
 .font{
  font-family: playfair;
 }

/**----------------------
 * *       Page Styles
 *-----------------------**/
 /* calculator body */
 .calculatorBody{
  @apply bg-neutral-950 shadow-custom items-center justify-center my-[4rem] md:my-[6rem] p-4 rounded-xl h-[60vh] max-w-sm md:max-w-4xl lg:max-w-6xl mx-auto;
 }

 /* add, subtract, multiply, and divide buttons */
.functionButtons{
  @apply bg-emerald-800 text-neutral-300 text-center py-1 px-3 md:py-2 md:px-4 rounded-md hover:bg-neutral-700 hover:cursor-pointer flex my-2;
}
/* button text color and size */
.buttonText{
  @apply text-neutral-300 text-lg md:text-2xl;
}